@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 0.25rem;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: rgba(75, 85, 99, 0.9);
}

div {
  display: flex;
  flex-direction: column;
}

span {
  display: flex;
  flex-direction: row;
}
